     <ion-view view-title="About">
        <ion-content class="" scroll="false">
          <div class = "">
            <div class="item tabs tabs-secondary tabs-icon-top"><a class="tab-item" ui-sref="menu.tabs.about.first"> <em class="icon ion-star"></em> First </a> <a class="tab-item" ui-sref="menu.tabs.about.second"> <em class="icon ion-star"></em> second </a> <a class="tab-item" ui-sref="menu.tabs.about.third"> <em class="icon ion-star"></em> Third </a></div>
          </div>
          <div class = "card">
                  <h3 class="padding">Our Team</h3>
              <p class="padding"> FavEx is the brainchild of six first-year students at the Hong Kong University of Science and Technology - Jai Sra, Kshitij Verma, Tavish Gobindram, Uday Sharma, Vikram Sambamurthy and Vinamra Misra </p>
          </div>
          <div class = "card">
                  <h3 class="padding">Inspiration</h3>
              <p class="padding"> College students lead busy lives. It is almost inevitable that there be moments that they need a helping hand. And that is what we hope to help with. A community of people all helping each other in their times of need is what we envision. </p>
          </div>
          <div class = "card">
                  <h3 class="padding">What It Does</h3>
              <p class="padding"> FavEx is a platform wherein people who need favours can post requests and others who happen to be in the area or have the time can help out. Of course we don't expect to rely on just the gratitude of people, instead we implemented an incentive based system wherein one gains points by doing favours and spends those points while getting favours done. </p>
          </div>
          <div class = "card">
                  <h3 class="padding">How We Built It</h3>
              <p class="padding"> Ionic framework upon Cordova, with a Microsoft Azure database running MySQL </p>
          </div>
          <div class = "card">
                  <h3 class="padding">Challenges We Ran Into</h3>
              <p class="padding"> None of us knew AngularJS, or even regular JS, which is a base pre-requisite for Ionic. </p>
          </div>

        </ion-content>
        <ui-view name = "about-sub"></ui-view>

      </ion-view>