     <ion-view view-title="About">
        <ion-content class="" scroll="false">
          <div class = "">
            <div class="item tabs tabs-secondary tabs-icon-top">
              <a class="tab-item" ui-sref="menu.tabs.about.first">
                <i class="icon ion-star"></i>
                   First 
              </a>
              <a class="tab-item" ui-sref="menu.tabs.about.second">
                <i class="icon ion-star"></i>
                 second 
              </a>
              <a class="tab-item" ui-sref="menu.tabs.about.third">
                <i class="icon ion-star"></i>
                 Third
              </a>

            </div>
          </div>

        </ion-content>
        <ui-view name = "about-sub"></ui-view>

      </ion-view>