<link rel="stylesheet" type="text/css" href="css/radio.css" />

<!--script src="js/slider.js"></script-->	
<ion-view title="Get" ng-controller='AppCtrl2'>
    <ion-content class="padding has-tabs-top">
	
<div class="center-on-page">
  
  <input type="radio" name="rb" id="rb1" value="food" ng-model="rb" />
  <label for="rb1">Food</label>
  <input type="radio" name="rb" id="rb2" value="laundry" ng-model="rb" />
  <label for="rb2">Laundry</label>
  <input type="radio" name="rb" id="rb3" value="purchases" ng-model="rb" />
  <label for="rb3">Purchases</label>
  <input type="radio" name="rb" id="rb4" value="tutoring" ng-model="rb"/>

  <label for="rb4">Tutoring</label>
  
</div>
<urmom class="item item-input fuckingboxes">
      <input ng-model="data.dp" type="text" placeholder="Pick-Up Point" onchange="hello()">
    </urmom>
    
	<urmom class="item item-input">
      <input ng-model="data.pp" type="text" placeholder="Drop-Off Point">
	  <span id="hid_disable" style="height:0px;width=0px;">
	  
		</span>
    </urmom>	
	<div id="bc" class="{{dis}}" ng-controller="CalcCtrl" align="center" style="padding-top:10px;">
        
	<input type="range" min="0" max="500" ng-model="data.qty" ng-click="funky()">
	<h4>Budget Selection</h4> <p>Below ${{data.qty}}</p>
        
		</div>
	<urmom class="item item-input">
      <textarea rows="10" ng-model="data.remarks" placeholder="Remarks">
	  </textarea>
	  <span id="hid_disable" style="height:0px;width=0px;">
	  
		</span>
		
    </urmom>
	
	<button type="button" id="b" ng-click="check()" class="button button-block button-energized">{{((data.itsc == "")||(data.pword == "")) ? "test" : "Go!"}} {{((data.itsc == "")||(data.pword == "")) | yesNo}}</button>

    </ion-content>
</ion-view>

<!-- Use ng-repeat, link a controller to each page. Each controllor is linked to the scope. Create a $scope.items[]. Then use ng repeat item in list and just generate the list values-->