<ion-view title="Give" class="whut">
            <ion-content  ng-controller="itemCtrl">
              <ion-list>
                  <ion-item ng-click="func('food')"> 
                      <p style="text-align:center;">Get some food</p>
                  </ion-item>
                  <ion-item ng-click="func('laundry')">
                      <p style="text-align:center;"> Help me out with some laundry</p>
                  </ion-item>
                  <ion-item ng-click="func('tutor')">
                      <p style="text-align:center;"> Tutor someone</p>
                  </ion-item>
                  <ion-item ng-click="func('buy')">
                      <p style="text-align:center;">Buy some stuff</p>
                  </ion-item>
                 <ion-item ng-click="func('others')">
                     <p style="text-align:center;">Special missions</p>
                  </ion-item>
              </ion-list>        
            </ion-content>
          </ion-view>