<ion-view title="Give" >
            <ion-content class="padding has-tabs-top">
              <ion-list>
                  <ion-item>
                      <span style="font-size:20px">I am Hungry</span>
                      <button class="button button-positive" style="margin-left:85%">
                          <i class="icon ion-plus"></i>
                      </button>
                  </ion-item>
                  <ion-item>
                      <span style="font-size:20px">Damn I need to do laundry</span>
                      <button class="button button-positive" style="margin-left:988px">
                          <i class="icon ion-plus"></i>
                      </button>
                  </ion-item>
                  <ion-item>
                      <span style="font-size:20px">Special Missions</span>
                      <button class="button button-positive" style="margin-left:1081px">
                          <i class="icon ion-plus"></i>
                      </button>
                  </ion-item>
              </ion-list>
            </ion-content>
          </ion-view>

<!-- Use ng-repeat, link a controller to each page. Each controllor is linked to the scope. Create a $scope.items[]. Then use ng repeat item in list and just generate the list values-->