<ion-view view-title="Home" class="whut">
        <ion-content>
            <div>
            <h1 id="homey" class="titles" align="center"> Welcome to FavEx</h1>

          
            <div class="card padding" ng-controller="goToGive">
                <form ng-submit="submitForm()">
             <ion-item>
                <button class="button button-block button-assertive" value="submit" type="submit" >Do a favour</button>
                </ion-item> 
                    </form>
                </div>
            
                <div class="card padding" ng-controller='goToGet'>
                    <form ng-submit="submitForm()">
                <ion-item>
                <button class="button button-block button-royal" value="submit" type="submit">Get a favour</button>
                </ion-item> 
                    </form>
            </div>
            </div>
        </ion-content>
      </ion-view>