<ion-view view-title="Home">
        <ion-content>
            <h1 align="center"> Welcome to FavEx</h1>
          <div class = "card">
                  <h3>Updates</h3>
              <p> We have finally figured out how to get some shit done</p>
          </div>
            <div class="card">
             <ion-item ui-sref="menu.tabs.give">
                <button class="button button-block button-assertive" value="submit" type="submit" >Do a favour</button>
                </ion-item> 
                </div>
                <div class="card">
                <ion-item ui-sref="menu.tabs.take">
                <button class="button button-block button-positive" value="submit" type="submit" >Get a favour</button>
                </ion-item> 
            </div>
        </ion-content>
      </ion-view>