<div class="whut">
    <h3 id="homey" style="font-family:'Lobster';font-size:30px;" align="center">
	Welcome to FavEx
    </h3>
	
	<label class="item item-input">
      <input ng-model="data.itsc" type="text" placeholder="ITSC ID" onchange="hello()" />
    </label>
    
	<label class="item item-input">
      <input ng-model="data.pword" type="password" placeholder="Password" />
	  <span id="hid_disable" style="height:0px;width=0px;">
	  
		</span>
    </label>
    
    <button type="button" id="b" ng-click="check()" class="button button-block button-energized"></button>

	
</div>