      <ion-view view-title="Status">
        <ion-content class="padding has-tabs-top">
        <div class = "card">
                  <h3>User Profile</h3>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <button type="submit" class="button button-royal">Submit Changes</button>
          </div>
            <div class = "card">
                  <h3>Status</h3>
                <p><strong>Coins:</strong> some.variable</p><br>
                <p><strong># of people you are doing a favour for:</strong> some.variable</p><br>
                <p><strong># of people doing a favour for you</strong> some.variable</p><br>
          </div>
        </ion-content>
      </ion-view>