<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view view-title="Welcome">
        <ion-tabs class="tabs-icon-top tabs-positive">

          <ion-tab title="Status" icon="ion-search" ui-sref="menu.tabs.status" hidden ="true">
            <ion-nav-view name="status-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="About" icon="ion-information-circled" ui-sref="menu.tabs.about.first" hidden = "true">
            <ion-nav-view name="about-tab"></ion-nav-view>
          </ion-tab> 
          <ion-tab title="Home" icon="ion-information-circled" ui-sref="menu.tabs.home" hidden = "true">
          
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab> 
            <ion-tab title="Give" icon="ion-hammer" ui-sref="menu.tabs.give">
                <ion-nav-view name="give-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Get" icon="ion-heart" ui-sref="menu.tabs.get">
                <ion-nav-view name="get-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Food" icon="ion-information-circled" ui-sref="menu.tabs.food" hidden="true">
                <ion-nav-view name="food-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Laundry" icon="ion-information-circled" ui-sref="menu.tabs.laundry" hidden="true">
                <ion-nav-view name="laundry-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Tutor" icon="ion-information-circled" ui-sref="menu.tabs.tutor" hidden="true">
                <ion-nav-view name="tutor-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Buy" icon="ion-information-circled" ui-sref="menu.tabs.buy" hidden="true">
                <ion-nav-view name="buy-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="SM" icon="ion-information-circled" ui-sref="menu.tabs.sm" hidden="true">
                <ion-nav-view name="sm-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
      </ion-view>
